<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendação de Filme</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Recomendação de Filmes</h1>
        <div class="buscar-box">
            <form id="searchForm">
                <input type="text" id="buscaInput" placeholder="Digite o nome do filme">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </header>
    <main>
        <section id="recomendacaoFilmes">
            <h2>Filmes Recomendados</h2>
            <div id="recomendacaoLista" class="filme-lista"></div>
        </section>
    </main>
    <script src="/static/script.js"></script>
</body>
</html>
